<!-- taskapp/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %} Recipe List Header {%endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    <div id="content">
        <h3>Recipe Book</h3>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Logout</button>
        </form>
        {% block content %}{% endblock %}
    </div>
</body>
</html>